@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

@layer base {
  /*@font-face {*/
  /*  font-family: "Blody";*/
  /*  font-weight: normal;*/
  /*  font-style: normal;*/
  /*  src:*/
  /*    url("/BLOODY.ttf") format("ttf"),*/
  /*    url("/BLOODY.ttf") format("ttf");*/
  /*}*/

  .bloody {
    background: linear-gradient(180deg, #e30000 0%, #8c0404 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes rotate {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }

  .bellImg {
    transform: rotate(-10deg);
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 50% 0%;
    animation-timing-function: ease-in-out;
  }
}
